.scrollMenu {
  width: 100%;
  height: 100%;
  padding: 10px 5px;
  overflow-y: auto;
  word-wrap: break-word;
  box-sizing: border-box;
}

.scrollMenu::-webkit-scrollbar {
  width: 5px;
}

.scrollMenu::-webkit-scrollbar-thumb {
  background-color: rgb(210, 210, 210);
  border-radius: 10px;
}
