h3 {
  font-family: 'MontBold';
  font-size: 20px;
}

.searchMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  height: 100%;
  box-sizing: border-box;
}

.inputSearch {
  width: 350px;
}

.inputRadiusContainer {
  display: flex;
  column-gap: 10px;
}
.inputRadius {
  width: 100px;
}

.inputRadiusContainer > p {
  font-family: 'MontBold';
  font-size: 15px;
}

.settingsContainer {
  width: 350px;
  height: 490px;
}
