.searchMenu,
.inputRadiusContainer {
  display: flex;
}

h3 {
  font-family: 'MontBold';
  font-size: 20px;
}

.searchMenu {
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 100vh;
  padding: 20px 25px;
  box-sizing: border-box;
}

.inputRadiusContainer {
  column-gap: 10px;
}

.inputRadius {
  width: 100px;
}

.inputRadiusContainer > p {
  font-family: 'MontBold';
  font-size: 15px;
}

.categories {
  width: 350px;
  height: 490px;
}
