.button {
  background-color: #5e7bc7;
  width: 350px;
  height: 60px;
  border-radius: 10px;
}

.button:hover {
  border: solid 3px #c4c4c4;
}

.button:active {
  border: solid 3px #808080;
}

@media (max-width: 1024px) {
  .button {
    width: 250px;
  }
}

@media (max-width: 425px) {
  .button {
    width: 150px;
  }
}
