.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer > p {
  font-family: 'MontRegular';
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.image {
  width: 150px;
  height: 100px;
}
