.button {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  border: none;
  color: white;
}

.button:hover {
  border: solid 3px #c4c4c4;
}

.button:active {
  border: solid 3px #808080;
  background-color: white;
}
