ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: default;
}

.categories {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  z-index: -1;
}

.categoriesContainer {
  height: 100%;
  border: solid gray 3px;
  border-radius: 10px;
}

.categories > p {
  font-family: 'Mont';
  font-weight: normal;
  font-size: 14px;
}

.icons {
  width: 30px;
  height: 30px;
}

.noSelected {
  background-color: rgba(255, 255, 255, 0.5);
}

.noSelected:hover {
  background-color: rgba(230, 230, 230, 0);
}
