.placeOfInterest {
  top: 40px;
  left: 5px;
  position: absolute;
  background-color: white;
  height: 80vh;
  width: 20vw;
  padding-right: 5px;
  z-index: 1;
  border-radius: 20px;
}

.mainHeader {
  border: solid;
  border-width: 0;
  border-bottom-width: 1px;
}
