.header,
.placeCard,
.favButton,
.routeButton {
  font-family: 'Mont';
  display: flex;
  align-items: center;
}

.placeCardContainer * {
  cursor: default;
}

.favButton,
.routeButton {
  height: 50px;
  justify-content: center;
  gap: 12px;
  font-weight: 600;
  font-size: 14px;
  border: solid 3px;
  border-radius: 5px;
  cursor: pointer;
}

.placeCardContainer {
  width: 490px;
  height: 100vh;
  padding: 20px 25px;
  box-sizing: border-box;
}

.header {
  column-gap: 10px;
}

.header > p {
  font-weight: 600;
  font-size: 20px;
}

.placeCard {
  flex-direction: column;
  padding: 20px 25px;
  width: 440px;
  height: 714px;
  border: solid #c4c4c4 3px;
  border-radius: 10px;
  box-sizing: border-box;
}

.placeCard h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 30.67px;
}

.description {
  font-size: 12px;
  font-weight: 600;
}

.image {
  width: 400px;
  height: 300px;
  border-radius: 10px;
}

.buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 15px;
  line-height: 17.89px;
}

.favButton {
  width: 174px;
  color: #c4c4c4;
}

.routeButton {
  width: 154px;
  background-color: #5e7bc7;
  border-color: none;
  color: white;
}

.favButton:hover {
  background-color: #c75e5e;
  color: white;
}

.routeButton:hover {
  border-color: #c4c4c4;
}

.backButton {
  border: none;
  background-color: transparent;
}

.backButton * {
  cursor: pointer;
}
