.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  border-color: black;
}

.buttonLogin {
  background-color: rgba(0, 249, 153, 0.871);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buttonLogin:hover {
  background-color: rgba(10, 225, 143, 0.871);
}

.buttonFavorite {
  background: none;
  border: none;
  cursor: pointer;
}

.headerButtons {
  display: flex;
  column-gap: 10px;
}

.headerTitle {
  font-size: large;
  font-weight: bold;
  font-style: oblique;
}
