.upContainer,
.upButtons,
.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideBar {
  justify-content: space-between;
  position: relative;
  height: 100%;
  width: 110px;
}

.appLogo {
  width: 32px;
  height: 32px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.profileContainer {
  margin-bottom: 20px;
}

.upButtons {
  row-gap: 10px;
}

.buttonSearch,
.buttonFavourites,
.buttonSearchOn,
.buttonFavouritesOn,
.profileButton {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
}

.buttonSearch {
  background-color: #5e7bc7;
}

.buttonSearchOn {
  color: #5e7bc7;
  background-color: white;
  border: solid 3px #c4c4c4;
}

.buttonSearch:hover {
  border: solid 3px #c4c4c4;
}

.buttonFavourites {
  background-color: #c75e5e;
}

.buttonFavouritesOn {
  color: #c75e5e;
  background-color: white;
  border: solid 3px #c4c4c4;
}

.buttonFavourites:hover {
  border: solid 3px #c4c4c4;
}

.profileButton {
  background-color: #32cd32;
}

@media (max-width: 768px) {
  .sideBar {
    width: 80px;
  }
}

@media (max-width: 425px) {
  .sideBar {
    width: 50px;
    padding: 10px 0;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column-reverse;
  }
  .buttonSearch,
  .buttonFavourites,
  .buttonSearchOn,
  .buttonFavouritesOn,
  .profileButton {
    width: 40px;
    height: 40px;
  }
  .upContainer {
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  .appLogo > img {
    width: 30px;
    height: 30px;
  }
  .appLogo {
    margin-bottom: 5px;
  }
}
