.upContainer,
.upButtons,
.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideBar {
  justify-content: space-between;
  position: relative;
  height: 100%;
  width: 110px;
}

.appLogo {
  width: 32px;
  height: 32px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.profileContainer {
  margin-bottom: 20px;
}

.upButtons {
  row-gap: 10px;
}

.button {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  border: none;
  color: white;
}

.button:hover {
  border: solid 3px #c4c4c4;
}

.button:active {
  border: solid 3px #808080;
  background-color: white;
}
