.featuresPanel,
.cards {
  display: flex;
  flex-direction: column;
}

.featuresPanel {
  width: 400px;
  height: 100vh;
  padding: 20px 20px;
  box-sizing: border-box;
}

.favourite {
  height: 100%;
}

.infoContainer {
  height: 90%;
}

.infoContainer > p {
  font-family: 'MontBold';
  font-size: 20px;
}
