.authWrapper,
.authContainer {
  display: flex;
  align-items: center;
}

.authWrapper {
  justify-content: space-evenly;
  height: 98vh;
  width: 100vw;
}

.authContainer {
  width: 50%;
}

.authImage {
  width: 50%;
}

@media (max-width: 1024px) {
  .authImage {
    display: none;
  }
  .authContainer {
    width: 100%;
  }
}
